{% extends "adminside/base.html" %}
{% load static %}
{% block title %}Admin brandlist{% endblock %}
{% block content %}

<section class="content-main"> 
    <div class="content-header"> 
        <div> 
            <h2 class="content-title card-title">Brands</h2> 
            
        </div> 
        
   
    <div class="text-left">
        <a href="{% url 'brand:brand_create' %}" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create Brand</a>
    </div>  </div>
    <div class="card mb-4"> 
       
        <div class="card-body"> 
            <div class="table-responsive"> 
                <table class="table table-hover"> 
                    <thead> 
                        <tr> 
                            <th>ID</th> 
                            <th>Image</th>
                            <th>Name</th> 
                             
                            <th>Description</th>  
                           
                        </tr> 
                    </thead> 
                    <tbody> 
                        {% for brand in brands %}
                            <tr>
                                <td>{{ brand.id }}</td>
                                <td style="vertical-align: middle; ">
                                    <div class="d-flex align-items-center">
                                        {% if brand.brand_image %}
                                    <img src="{{ brand.brand_image.url }}" alt="{{ brand.barnd_name }}" style="width: 100px; height: 30px;">
                                {% else %}
                                    No Image
                            {% endif %}
                                    </div>
                                </td>
                                <td><b>{{ brand.brand_name }}</b></td>
                                
                                <td>{{ brand.description }}</td> <!-- Access the related Category model's field -->
                               
                            </tr>
                            {% endfor %}

                        </tr> 
                    </tbody> 
                </table> 
            </div> 
        </div> 
       
    </div> 
    <div class="pagination-area mt-30 mb-50"> 
        <nav aria-label="Page navigation example"> 
            <ul class="pagination justify-content-start"> 
                <li class="page-item active"><a class="page-link" href="#">01</a></li> 
                <li class="page-item"><a class="page-link" href="#">02</a></li> 
                <li class="page-item"><a class="page-link" href="#">03</a></li> 
                <li class="page-item"><a class="page-link dot" href="#">...</a></li> 
                <li class="page-item"><a class="page-link" href="#">16</a></li> 
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li> 
            </ul> 
        </nav> 
    </div> 
</section>
{% endblock content %}