{% extends 'userside/base.html' %}
{% load static %}
{% block title%}shop{% endblock title %}
{% block content %}

<section class="banner-area organic-breadcrumb" style="height:120px;">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1></h1>
                <nav class="d-flex ">
                  {% comment %} <a href="">Home<span class="lnr lnr-arrow-right"></span></a> {% endcomment %}
                    {% comment %} <a href="">Cart</a>  {% endcomment %}
                </nav>
            </div>
        </div>
    </div>
</section>
<div style="margin-top:0px;">
   
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            {% comment %} <div class="sidebar-categories">
                <div class="head" style="background:orange;">Categories Filter</div>
                <ul class="main-categories">
                    <li class="main-nav-list">
                        <div class="common-filter">
                            <br>
                            <h5>Category</h5>

                            <form id="" method="" action="">
                                <ul>
                                    
                                    {% for category in categories %}
                                    <li class="filter-list">
                                        <input 
                                            class="pixel-radio" 
                                            type="radio" 
                                            name="category" 
                                        >
                                        <label for="">{{ category.category_name }}<span></span></label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </form>
                        </div>
                      
                
                </ul>
            </div> {% endcomment %}
            <div class="sidebar-categories">
                <div class="head" style="background:orange;">Categories Filter</div>
                <ul class="main-categories">
                    <li class="main-nav-list">
                        <div class="common-filter">
                            <br>
                            <h5>Category</h5>
{% comment %}             
                            <form id="category-filter-form" method="get" action="">
                                <ul>
                                    {% for category in categories %}
                                    <li class="filter-list">
                                        <input 
                                            class="pixel-radio" 
                                            type="radio" 
                                            name="category" 
                                            value="{{ category.id }}"
                                            {% if category.id|stringformat:"s" == selected_category %}checked{% endif %}
                                            onchange="this.form.submit()"
                                        >
                                        <label for="">{{ category.category_name }}<span></span></label>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <input type="hidden" name="brand" value="{{ selected_brand }}">
                                <input type="hidden" name="sort" value="{{ sort_option }}">
                            </form> {% endcomment %}
                            <form id="category-filter-form" method="get" action="">
                                <ul>
                                    <li class="filter-list">
                                        <input 
                                            class="pixel-radio" 
                                            type="radio" 
                                            name="category" 
                                            value="all"
                                            {% if selected_category == 'all' %}checked{% endif %}
                                            onchange="this.form.submit()"
                                        >
                                        <label for="">All Categories<span></span></label>
                                    </li>
                                    {% for category in categories %}
                                    <li class="filter-list">
                                        <input 
                                            class="pixel-radio" 
                                            type="radio" 
                                            name="category" 
                                            value="{{ category.id }}"
                                            {% if category.id|stringformat:"s" == selected_category %}checked{% endif %}
                                            onchange="this.form.submit()"
                                        >
                                        <label for="">{{ category.category_name }}<span></span></label>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <input type="hidden" name="brand" value="{{ selected_brand }}">
                                <input type="hidden" name="sort" value="{{ sort_option }}">
                            </form>
                            
                            
                            
                            
                        </div>
                    </li>
                </ul>
            </div>
            <br>
            {% comment %} <div class="sidebar-categories">
                <div class="head" style="background:orange;">Brands Filter</div>
                <ul class="main-categories">
                    <li class="main-nav-list">
                        <div class="common-filter">
                            <br>
                            <h5>Brands</h5>

                            <form id="" method="" action="">
                                <ul>
                                    
                                    {% for brand in brands %}
                                    <li class="filter-list">
                                        <input 
                                            class="pixel-radio" 
                                            type="radio" 
                                            name="category" 
                                        >
                                        <label for="">{{ brand.brand_name }}<span></span></label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </form>
                        </div>
                      
                
                </ul>
            </div> {% endcomment %}

<div class="sidebar-categories">
    <div class="head" style="background:orange;">Brands Filter</div>
    <ul class="main-categories">
        <li class="main-nav-list">
            <div class="common-filter">
                <br>
                <h5>Brands</h5>

                {% comment %} <form id="brand-filter-form" method="get" action="">
                    <ul>
                        {% for brand in brands %}
                        <li class="filter-list">
                            <input 
                                class="pixel-radio" 
                                type="radio" 
                                name="brand" 
                                value="{{ brand.id }}"
                                {% if brand.id|stringformat:"s" == selected_brand %}checked{% endif %}
                                onchange="this.form.submit()"
                            >
                            <label for="">{{ brand.brand_name }}<span></span></label>
                        </li>
                        {% endfor %}
                    </ul>
                    <input type="hidden" name="category" value="{{ selected_category }}">
                    <input type="hidden" name="sort" value="{{ sort_option }}">
                </form> {% endcomment %}
                <form id="brand-filter-form" method="get" action="">
                    <ul>
                        <li class="filter-list">
                            <input 
                                class="pixel-radio" 
                                type="radio" 
                                name="brand" 
                                value="all"
                                {% if selected_brand == 'all' %}checked{% endif %}
                                onchange="this.form.submit()"
                            >
                            <label for="">All Brands<span></span></label>
                        </li>
                        {% for brand in brands %}
                        <li class="filter-list">
                            <input 
                                class="pixel-radio" 
                                type="radio" 
                                name="brand" 
                                value="{{ brand.id }}"
                                {% if brand.id|stringformat:"s" == selected_brand %}checked{% endif %}
                                onchange="this.form.submit()"
                            >
                            <label for="">{{ brand.brand_name }}<span></span></label>
                        </li>
                        {% endfor %}
                    </ul>
                    <input type="hidden" name="category" value="{{ selected_category }}">
                    <input type="hidden" name="sort" value="{{ sort_option }}">
                </form>
                
                
            </div>
        </li>
    </ul>
</div>


            
            <div class="sidebar-filter mt-50">
                {% comment %} <div class="top-filter-head">Product Filters</div> {% endcomment %}
                {% comment %} <div class="common-filter">
                    <div class="head">Brands</div>
                    <form action="#">
                        <ul>
                            {% for brand in brands %}
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">{{brand}}<span>(29)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Asus<span>(29)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Gionee<span>(19)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">Micromax<span>(19)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Samsung<span>(19)</span></label></li>
                            {% endfor %}
                        </ul>
                    </form>
                </div> {% endcomment %}
                {% comment %} <div class="common-filter">
                    <div class="head">Color</div>
                    <form action="#">
                        <ul>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black
                                    Leather<span>(29)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black
                                    with red<span>(19)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
                        </ul>
                    </form>
                </div> {% endcomment %}
                {% comment %} <div class="common-filter">
                    <div class="head">Price</div>
                    <div class="price-range-area">
                        <div id="price-range"></div>
                        <div class="value-wrapper d-flex">
                            <div class="price">Price:</div>
                            <span>$</span>
                            <div id="lower-value"></div>
                            <div class="to">to</div>
                            <span>$</span>
                            <div id="upper-value"></div>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div> 
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center" style="background:orange;">
                {% comment %} <div class="sorting">
                    <select>
                        <option value=""><a href="">Sorting</a></option>
                        <option value="1">Low-High</option>
                        <option value="1">High-Low</option>
                        <option value="1">aA-zZ</option>
                        <option value="1">zZ-aA</option>
                    </select>
                </div> {% endcomment %}

<div class="sorting">
    <form id="sorting-form" method="get" action="">
        <select name="sort" onchange="this.form.submit()">
            <option value="">Sorting</option>
            <option value="low-high" {% if sort_option == 'low-high' %}selected{% endif %}>Low-High</option>
            <option value="high-low" {% if sort_option == 'high-low' %}selected{% endif %}>High-Low</option>
            <option value="a-z" {% if sort_option == 'a-z' %}selected{% endif %}>A-Z</option>
            <option value="z-a" {% if sort_option == 'z-a' %}selected{% endif %}>Z-A</option>
        </select>
        <input type="hidden" name="category" value="{{ selected_category }}">
        <input type="hidden" name="brand" value="{{ selected_brand }}">
    </form>
    
</div>
                {% comment %} <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">
                    <ul>
                        
                    </ul>
                </div>
            </div> {% endcomment %}
                {% comment %} <div class="sorting mr-auto">
                    <select>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                    </select>
                </div> {% endcomment %}
                <div class="pagination" style=" margin-left:390px;">
                    <div class="header-right">
                        <div class="search-container">
                            <form method="get" action="{% url 'account:shop' %}">
                                    <input style="width:250px; height:45px;" class="search-wrapper" type="text" name="search" placeholder="Search for items..." value="{{ search_query }}" class="search-input">
                                    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                <div class="row">
                    <!-- single product -->
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <a href="{% url 'account:single_product' product.id %}"><img class="img-fluid" src="{{product.thumbnail.url}}" alt=""></a>
                            <div class="product-details">
                                <h6>{{product}}</h6>
                                <div class="price">
                                    <h6>₹{{product.offer_price}}</h6>
                                    <h6 class="l-through">₹{{product.price}}</h6>
                                </div>
                                <div class="prd-bottom" style="text-align:center;">

                                    {% comment %} <a href="" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a> {% endcomment %}
                                    {% comment %} <a href="" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">compare</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- single product -->
                    {% comment %} <div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="{% static 'userside/assets/img/product/p2.jpg' %}" alt="">
                            <div class="product-details">
                                <h6>addidas New Hammer sole
                                    for Sports person</h6>
                                <div class="price">
                                    <h6>$150.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                                <div class="prd-bottom">

                                    <a href="" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">compare</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single product -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="{% static 'userside/assets/img/product/p3.jpg' %}" alt="">
                            <div class="product-details">
                                <h6>addidas New Hammer sole
                                    for Sports person</h6>
                                <div class="price">
                                    <h6>$150.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                                <div class="prd-bottom">

                                    <a href="" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">compare</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single product -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="{% static 'userside/assets/img/product/p4.jpg' %}" alt="">
                            <div class="product-details">
                                <h6>addidas New Hammer sole
                                    for Sports person</h6>
                                <div class="price">
                                    <h6>$150.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                                <div class="prd-bottom">

                                    <a href="" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">compare</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single product -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="{% static 'userside/assets/img/product/p5.jpg' %}" alt="">
                            <div class="product-details">
                                <h6>addidas New Hammer sole
                                    for Sports person</h6>
                                <div class="price">
                                    <h6>$150.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                                <div class="prd-bottom">

                                    <a href="" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">compare</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single product -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="{% static 'userside/assets/img/product/p6.jpg' %}" alt="">
                            <div class="product-details">
                                <h6>addidas New Hammer sole
                                    for Sports person</h6>
                                <div class="price">
                                    <h6>$150.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                                <div class="prd-bottom">

                                    <a href="" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">compare</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
            </section>
            <!-- End Best Seller -->
            <!-- Start Filter Bar -->
            {% comment %} <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting mr-auto">
                    <select>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                    </select>
                </div>
                <div class="pagination">
                    <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    <a href="#">6</a>
                    <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div> {% endcomment %}
            <!-- End Filter Bar -->
        </div>
    </div>
</div>

<!-- Start related-product Area -->
{% comment %} <section class="related-product-area section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Deals of the Week</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'userside/assets/img/r1.jpg' %}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'userside/assets/img/r2.jpg' %}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'userside/assets/img/r3.jpg' %}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'userside/assets/img/r5.jpg' %}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'userside/assets/img/r6.jpg' %}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'userside/assets/img/r7.jpg' %}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'userside/assets/img/r9.jpg' %}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'userside/assets/img/r10.jpg' %}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'userside/assets/img/r11.jpg' %}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="{% static 'userside/assets/img/category/c5.jpg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<!-- End related-product Area -->
</div>
{% comment %} <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get all category radio buttons
        const categoryRadios = document.querySelectorAll('.category-radio');
    
        // Function to submit the form
        function submitCategoryForm() {
            document.getElementById('category-filter-form').submit();
        }
    
        // Add event listener to each radio button
        categoryRadios.forEach(radio => {
            radio.addEventListener('change', submitCategoryForm);
        });
    });
    
    
</script> {% endcomment %}


{% endblock content %}