{% extends "adminside/base.html" %}
{% load static %}
{% block title %}Admin edit_category{% endblock %}

{% block content %}


<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Create Category</h2>
            </div>
        </div>
        <div style="width:900px;" class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'category:edit_category' category.id %}">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label style="font-weight: bold;" for="id_category_name" class="form-label">{{ form.category_name.label }}</label>
                            {{ form.category_name }}
                        </div>
                        <div class="mb-4">
                            <label style="font-weight: bold;" for="id_description" class="form-label">{{ form.description.label }}</label>
                            {{ form.description }}
                        </div>
                        <div>
                            <button type="submit" style="font-weight: bold;" class="btn btn-md rounded font-sm hover-up">Update Category</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            
            
            
        </div>
    </div>
</section> 

{% endblock content %}