.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
    margin-top: 20px;
}

.table thead th {
    background-color: #f8f9fa;
    color: #333;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.btn {
    margin-right: 5px;
}

.btn:hover {
    color: #fff !important;
}
